* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
